.profile__image {
  position: relative;
  cursor: pointer;
  width: 120px;
  height: 120px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  margin: 0 29px 0 0;
   overflow: hidden;
}

.profile__image::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.7); 
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
  z-index: 1; 
}

.profile__image::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 120px;      
  height: 120px;
  border-radius: 50%;
  background: url('../../../images/edit-icon.svg') no-repeat center center;
  background-size: 30px 30px; 
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none; 
   z-index: 2;
}

.profile__image::before {
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.profile__image:hover::before,
.profile__image:hover::after {
  opacity: 0.8;
}

@media screen and (max-width: 740px) {
  .profile__image {
    margin: 0 10px 0 0;
  }
}

@media screen and (max-width: 480px) {
  .profile__image {
    margin-right: 0;
  }
}
